* text=auto
*.cpp  text
*.h    text
*.txt  text
*.gz   binary
*.ico  binary
*.jpg  binary
*.lib  binary
*.png  binary
*.slvs binary

exposed/*.vb linguist-documentation
exposed/*.c linguist-documentation
extlib/** linguist-vendored